body{

    background: #52ceed;
    color: blue;
    font-size: 14pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-size: 250%;
    font-weight: bold;
    color: beige;
}

h2{
    font-size: 150%;
    font-style: italic;
}
